:root > * {
    --md-primary-fg-color:        #009fe3;
    --md-primary-fg-color--light: #83d0f5;
    --md-primary-fg-color--dark:  #716E6E;
    --md-footer-bg-color: #586475;
    --md-typeset-color: #586475;
}
.md-typeset a {
    color: var(--md-primary-fg-color) !important;
}
.md-typeset a:hover, .md-nav__link a:hover {
    color: var(--md-footer-bg-color) !important;
}
